extends ../main.pug

block content
    h3 #{article.title} cua blackpink
        .mt-3
            .row 
                .col-lg-4
                        button hello Anh Phu  
                        p baitap kho qua di anh Phu oi
                        .row
                            <a type="a" href="http://localhost:3000/articles/#{article.title}/edit" class="btn btn-primary">Update</a>
                            button.mx-2.btn.btn-danger(data-bs-toggle="modal" data-bs-target="#delete_Article" data-id=`${article._id}`) Delete
                            
                .col-lg-8
                    .card(style='width: 18rem;')
                        img.card-img-top(src=`${article.src}` alt='...')
                    .card-body
                        h5.card-title #{article.title}
                        p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

        #delete_Article.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Delete this article
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                        form(action=`/articles/${article._id}`, method="post")
                            input(type="hidden" name="_method" value="DELETE")
                            button.btn.btn-danger(type='submit') Delete